absl-py==2.3.1
access==1.1.10.post3
adlfs==2025.8.0
affine==2.4.0
ai-edge-litert==2.0.3
aiobotocore==3.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aioitertools==0.13.0
aiosignal==1.4.0
alabaster==1.0.0
alembic==1.17.2
amqp==5.3.1
aniso8601==10.0.1
annotated-types==0.7.0
antimeridian==0.4.5
anyio==4.12.0
appdirs==1.4.4
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.4.0
astropy==7.2.0
astropy-iers-data==0.2025.12.15.0.40.51
asttokens==3.0.1
astunparse==1.6.3
async-lru==2.0.5
attrs==25.4.0
autopep8==2.3.2
azure-core==1.37.0
azure-datalake-store==0.0.53
azure-identity==1.25.1
azure-storage-blob==12.27.1
babel==2.17.0
backports.strenum==1.2.8
bcrypt==5.0.0
beautifulsoup4==4.14.3
black==25.12.0
bleach==6.3.0
blinker==1.9.0
blosc2==3.12.2
bokeh==3.8.1
boltons==25.0.0
boto3==1.42.5
botocore==1.42.5
Bottleneck==1.6.0
branca==0.8.2
build==1.3.0
CacheControl==0.14.4
cachelib==0.13.0
cachetools==6.2.4
Cartopy==0.25.0
cattrs==25.3.0
certifi==2025.11.12
certipy==0.2.2
cffi==2.0.0
cftime==1.6.5
charset-normalizer==3.4.4
circuitbreaker==2.1.3
ciso8601==2.3.3
cleo==2.1.0
click==8.1.8
click-plugins==1.1.1.2
cligj==0.7.2
climate-indices==1.0.12
cloudpickle==3.1.2
cmocean==4.0.3
cognitojwt==1.4.1
color-operations==0.2.0
colorama==0.4.6
colorcet==3.1.0
colorlog==6.10.1
comm==0.2.3
contextily==1.7.0
contourpy==1.3.3
coverage==7.13.0
crashtest==0.4.1
cryptography==43.0.3
cycler==0.12.1
Cython==3.2.3
dask==2025.12.0
dask-gateway==2025.4.0
dask-gateway-server==2025.4.0
dask-glm==0.3.2
dask-image==2025.11.0
dask-ml==2025.1.0
dask_labextension==7.0.0
data==0.4
datacube==1.9.11
datacube_ows==1.9.6
datadog==0.52.1
datashader==0.18.2
deafrica-tools==2.5.13
debugpy==1.8.19
decorator==5.2.1
deepdiff==8.6.1
defusedxml==0.7.1
deprecat==2.1.3
deprecation==2.1.0
descartes==1.1.0
dill==0.4.0
distlib==0.4.0
distributed==2025.12.0
docutils==0.22.3
donfig==0.8.1.post1
dropbox==12.0.2
dropboxdrivefs==1.4.1
dulwich==0.24.10
ecdsa==0.19.1
eo-tides==0.10.1
eodatasets3==1.9.3
esda==2.8.0
execnet==2.1.2
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.20.1
findpython==0.7.1
fiona==1.10.1
Flask==3.1.2
flask-babel==4.0.0
Flask-Caching==2.3.1
flask-cors==6.0.2
flask-restx==1.3.2
flatbuffers==25.9.23
flexcache==0.3
flexparser==0.4
flox==0.10.8
folium==0.20.0
fonttools==4.61.1
fqdn==1.5.1
frozenlist==1.8.0
fsspec==2025.12.0
funcsigs==1.0.2
funcy==2.0
fusepy==3.0.1
future==1.0.0
gast==0.7.0
gcsfs==2025.12.0
GDAL==3.10.0
GeoAlchemy2==0.18.1
geographiclib==2.1
geohash2==1.1
geojson==3.2.0
geomad==1.0.0
geopandas==1.1.1
geopy==2.4.1
geoviews==1.15.0
giddy==2.3.8
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.28.1
google-api-python-client==2.188.0
google-auth==2.41.1
google-auth-httplib2==0.3.0
google-auth-oauthlib==1.2.3
google-cloud-core==2.5.0
google-cloud-storage==3.7.0
google-cloud-storage-control==1.8.0
google-crc32c==1.8.0
google-pasta==0.2.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
graphviz==0.21
greenlet==3.3.0
grpc-google-iam-v1==0.14.3
grpcio==1.76.0
grpcio-status==1.76.0
h11==0.16.0
h3==4.4.1
h5netcdf==1.7.3
h5py==3.15.1
hdmedians==0.14.2
hdstats==0.2.1
holoviews==1.22.1
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.0
importlib_resources==6.5.2
inequality==1.1.2
iniconfig==2.3.0
installer==0.7.0
invoke==2.2.1
ipycanvas==0.14.3
ipyevents==2.0.4
ipyfilechooser==0.6.0
ipykernel==7.1.0
ipyleaflet==0.20.0
ipympl==0.9.8
ipython==9.8.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
iso8601==2.1.0
isodate==0.7.2
isoduration==20.11.0
isort==7.0.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.3.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
jmespath==1.0.1
joblib==1.5.3
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-leaflet==0.20.0
jupyter-lsp==2.3.0
jupyter-resource-usage==1.2.0
jupyter-server-mathjax==0.2.6
jupyter-ui-poll==1.1.0
jupyter_bokeh==4.0.5
jupyter_client==8.7.0
jupyter_contrib_core==0.4.2
jupyter_core==5.9.1
jupyter_nbextensions_configurator==0.6.4
jupyter_server==2.17.0
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyterhub==5.4.3
jupyterlab==4.5.1
jupyterlab-code-snippets==2.2.1
jupyterlab-language-pack-fr-FR==4.4.post3
jupyterlab_code_formatter==3.0.2
jupyterlab_geojson==3.4.0
jupyterlab_git==0.51.3
jupyterlab_iframe==0.5.0
jupyterlab_logout==1.1.0
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_theme_toggler==1.1.0
jupyterlab_topbar_text==1.1.0
jupyterlab_widgets==3.0.16
jupytext==1.18.1
keras==3.12.0
keyring==25.7.0
kiwisolver==1.4.9
kombu==5.6.1
lark==1.3.1
lark-parser==0.12.0
latex==0.7.0
lazy_loader==0.4
libarchive-c==5.3
libclang==18.1.1
libpysal==4.13.0
librt==0.7.4
line_profiler==5.0.0
linkify-it-py==2.0.3
llvmlite==0.46.0
lmdb==1.7.5
localtileserver==0.10.3
locket==1.0.0
looseversion==1.3.0
lxml==6.0.2
lz4==4.4.5
Mako==1.3.10
mapclassify==2.10.0
Markdown==3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
memory-profiler==0.61.0
mercantile==1.2.1
mgwr==2.2.1
mistune==3.1.4
ml_dtypes==0.5.4
momepy==0.10.0
more-itertools==10.8.0
morecantile==5.4.2
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.2
multidict==6.7.0
multipledispatch==1.0.0
multiprocess==0.70.18
mypy==1.19.1
mypy_extensions==1.1.0
namex==0.1.0
narwhals==2.13.0
nbclient==0.10.2
nbconvert==7.16.6
nbdime==4.0.2
nbformat==5.10.4
nbgitpuller==1.2.2
nbmake==1.5.5
nbval==0.11.0
ndindex==1.10.1
nest-asyncio==1.6.0
netCDF4==1.7.3
networkx==3.6.1
notebook==7.5.1
notebook_shim==0.2.4
numba==0.63.1
numcodecs==0.16.5
numexpr==2.14.1
numpy==2.2.6
numpy-groupies==0.11.3
nvidia-nccl-cu12==2.28.9
oauth2client==4.1.3
oauthlib==3.3.1
oci==2.164.2
ocifs==1.3.4
odc-algo==1.1.1
odc-apps-cloud==0.2.3
odc-apps-dc-tools==1.9.6
odc-cloud==0.2.5
odc-dscache==1.9.1
odc-geo==0.5.0
odc-io==0.2.2
odc-loader==0.5.1
odc-stac==0.4.1
odc-stats==1.0.48
odc-ui==0.2.1
opencv-contrib-python-headless==4.12.0.88
opencv-python-headless==4.12.0.88
opt_einsum==3.4.0
optree==0.18.0
orderly-set==5.5.0
osmnet==0.1.7
osmnx==2.0.7
OWSLib==0.35.0
packaging==25.0
pamela==1.2.0
pandana==0.7
pandas==2.3.3
pandoc==2.4
pandocfilters==1.5.1
panel==1.8.4
param==2.3.1
paramiko==4.0.0
parso==0.8.5
partd==1.4.2
pathos==0.3.4
pathspec==0.12.1
patsy==1.0.2
pbs-installer==2025.12.5
pexpect==4.9.0
pillow==12.0.0
PIMS==0.7
Pint==0.25.2
pip-tools==7.5.2
pkginfo==1.12.1.2
planetary-computer==1.0.0
platformdirs==4.5.1
plotly==6.5.0
pluggy==1.6.0
plumbum==1.10.0
ply==3.11
poetry==2.2.1
poetry-core==2.2.1
pointpats==2.5.2
pox==0.3.6
ppft==1.7.7
prometheus_client==0.23.1
prometheus_flask_exporter==0.23.2
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.26.1
protobuf==6.33.2
psutil==7.1.3
psycopg2==2.9.11
ptyprocess==0.7.0
PuLP==3.3.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py3dotplus==1.1.0
pyarrow==22.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==2.23
pyct==0.6.0
pydantic==2.12.5
pydantic_core==2.41.5
pydash==8.0.5
PyDrive2==1.21.3
pyerfa==2.0.1.5
pygit2==1.19.0
Pygments==2.19.2
PyJWT==2.10.1
PyNaCl==1.6.1
pyogrio==0.12.1
pyOpenSSL==24.2.1
pyows==0.3.1
pyparsing==3.2.5
pyproj==3.7.2
pyproject_hooks==1.2.0
pyrsistent==0.20.0
pysal==25.7
pysheds==0.5
pyshp==3.0.3
pyspnego==0.12.0
pystac==1.14.1
pystac-client==0.9.0
pytest==9.0.2
pytest-reportlog==1.0.0
pytest-xdist==3.8.0
python-box==7.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-geohash==0.8.5
python-jose==3.5.0
python-json-logger==4.0.0
python-slugify==8.0.4
pyTMD==3.0.0
pytokens==0.3.0
pytz==2025.2
pyviz_comms==3.0.6
PyYAML==6.0.3
pyzmq==27.1.0
quantecon==0.10.1
RapidFuzz==3.14.3
rasterio==1.4.4
rasterstats==0.20.0
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.2.0
rio-cogeo==7.0.1
rio-stac==0.12.0
rio-tiler==6.7.0
rios @ https://github.com/ubarsc/rios/archive/rios-1.4.10.tar.gz#sha256=7f11b54eb1f2ec551d7fc01c039b60bf2c67f0c2fc5b2946f8d986d6a9bc7063
rioxarray==0.20.0
rpds-py==0.30.0
rsa==4.9.1
rtree==1.4.1
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
s2cloudmask @ git+https://github.com/daleroberts/s2cloudmask@35e0bcb7a22ddcd5390979b96bde26679cf10669
s3fs==0.6.0
s3transfer==0.16.0
scikit-image==0.25.2
scikit-learn==1.8.0
scipy==1.14.1
scooby==0.11.0
seaborn==0.13.2
SecretStorage==3.5.0
segregation==2.5.3
Send2Trash==1.8.3
server-thread==0.3.0
setuptools==80.10.1
setuptools-scm==9.2.2
shapely==2.1.2
shellingham==1.5.4
shutilwhich==1.1.0
sidecar==0.8.0
simpervisor==1.0.0
simplejson==3.20.2
six==1.17.0
slicerator==1.1.0
smbprotocol==1.15.0
smmap==5.0.2
sortedcontainers==2.4.0
soupsieve==2.8
spaghetti==1.7.6
sparse==0.17.0
spglm==1.1.0
spint==1.0.7
splot==1.1.7
spopt==0.7.0
spreg==1.8.4
spyndex==0.8.0
SQLAlchemy==2.0.45
stack-data==0.6.3
statsmodels==0.14.6
stone==3.3.1
structlog==25.5.0
sympy==1.14.0
tables==3.10.2
tblib==3.2.2
tempdir==0.7.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.2.0
terminado==0.18.1
text-unidecode==1.3
threadpoolctl==3.6.0
thredds-crawler==1.5.4
tifffile==2025.12.12
timescale==0.1.0
timezonefinder==8.1.0
tinycss2==1.4.0
tobler==0.12.1
tokenize_rt==6.2.0
tomlkit==0.13.3
toolz==1.1.0
tornado==6.5.4
tornado-proxy-handlers==0.0.6
tqdm==4.67.1
traitlets==5.14.3
traittypes==0.2.3
trove-classifiers==2025.12.1.14
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==1.0.3
urbanaccess==0.2.2
uri-template==1.3.0
uritemplate==4.2.0
urllib3==2.6.2
uvicorn==0.38.0
vine==5.1.0
virtualenv==20.35.4
voluptuous==0.15.2
wapordl==1.2.1
wcwidth==0.2.14
webcolors==25.10.0
webencodings==0.5.1
websocket-client==1.9.0
Werkzeug==3.1.4
wheel==0.45.1
widgetsnbextension==4.0.15
wrapt==1.17.3
xarray==2025.12.0
xgboost==3.1.2
xyzservices==2025.11.0
yapf==0.43.0
yarl==1.22.0
zarr==3.1.5
zict==3.0.0
zipp==3.23.0
zstandard==0.25.0
