# rio-cogeo
access
affine
aiobotocore[boto3,awscli]
aiohttp
alabaster
astropy
autopep8
black[jupyter]
bokeh
boltons
bottleneck
branca
cartopy
cattrs
ciso8601
click
cligj
climate_indices
cmocean
cognitojwt # Used for user authentication
colorama
contextily
dask-gateway-server
eo-tides>=0.9.1
hdstats
dask-gateway
dask-image==2025.11.0
kombu
dask-labextension>=7.0.0
dask-ml==2025.1.0
dask[complete]  # due to dask-gateway
# datacube-stats==1.0.2 # Replaced by odc-stats
# dataclasses #  backport for Python 3.6
datacube==1.9.11
datacube-ows
datashader
deafrica-tools>=2.5.5
descartes
dill
distributed # due to dask-gateway
docutils
eodatasets3
flox
folium
fsspec[full]
gcsfs
GDAL[numpy]==3.10 # should match version in the base osgeo/gdal image
geohash2
geojson
geopy
geoviews
graphviz
h5py
hdmedians --no-binary=hdmedians
hdstats --no-binary=hdstats
holoviews
https://github.com/ubarsc/rios/archive/rios-1.4.10.tar.gz
ipycanvas
ipyevents
ipyfilechooser
ipyleaflet
ipympl
ipython
ipywidgets
isort
jedi
joblib
jsonschema
jupyter_bokeh>=4.0.0
jupyter-contrib-core
# do not work for jupyter lab and no longer compatible with notebook >=v7
# jupyter-contrib-nbextensions
jupyter-nbextensions-configurator
jupyter-resource-usage>=1.0.0
jupyter-server
jupyter-server-proxy>=4.1.0
jupyter-ui-poll
jupyter
jupyterhub
jupyterlab-code-formatter
jupyterlab-code-snippets
jupyterlab-geojson
jupyterlab-git
jupyterlab-iframe>=0.5.0
jupyterlab-language-pack-fr-FR
jupyterlab-logout>=1.0.0
# jupyterlab-system-monitor archived and components moved to jupyter-resource-usage
jupyterlab-theme-toggler
jupyterlab-topbar-text # replace jupyterlab-topbar
jupyterlab-widgets
jupyterlab>=4.0
jupytext
lark-parser
latex
line-profiler
localtileserver
rio-tiler
mapclassify
memory-profiler
mypy
nbconvert # because of jupyter_contrib_nbextensions
nbdime
nbformat
nbgitpuller
nbmake
nbval
netcdf4
numba
numexpr
numpy
odc-algo
odc-cloud[ASYNC]
odc-dscache
odc-geo
odc-io
odc-stac
odc-stats
# odc-tools apps
odc-apps-cloud
odc-apps-dc-tools
# odc-tools libs
odc-ui
opencv-contrib-python-headless
opencv-python-headless
osmnx
# otps
OWSLib
packaging
pandana
pandas>=2.2.0 # due to sqalchemy dependency for datacube 1.8.x
pandoc
panel
param
parso
pathos
Pillow
plotly
poetry
prompt-toolkit # because of line_profiler/ipython
protobuf
psycopg2
pydash
py3dotplus # replace pydotplus
pyproj
pyrsistent
pysal
pysheds
pystac-client
pytest
pytest-reportlog
pytest-xdist
python-dateutil
python-geohash
pyTMD
pytz
pyviz_comms
pyyaml
rasterio --no-binary=rasterio
rasterstats
rioxarray
Rtree
git+https://github.com/daleroberts/s2cloudmask
s3fs
scikit-image
scikit-learn==1.8.0
scipy==1.14.1 # 1.15.0 is incompatible with hdstats 0.2.1
seaborn
setuptools-scm[toml]
sidecar
spyndex
sqlalchemy
structlog
tensorflow
# replace tflite-runtime-nightly
# ai-edge-litert-nightly # no python 3.12 support
ai-edge-litert
thredds-crawler # archived
timescale
toolz
tqdm
urbanaccess
urllib3
voluptuous
wapordl
xarray
xgboost # used by Dale's s2cloudmask
yapf
zarr

