name : Test and Push

env:
  IMAGE_NAME: digitalearthafrica/deafrica-sandbox

on:
  pull_request:
  push:
    branches:
      - main
  release:
    types:
      - created

jobs:
  buildpush:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        submodules: recursive

    # Set up a cache
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: deafricadockersvs
        password: ${{ secrets.DEAFRICA_DOCKER_PASSWORD }}

    - name: Build and Push Docker
      uses: docker/build-push-action@v5
      with:
        context: docker
        cache-from: type=gha
        cache-to: type=gha,mode=max
        push: true
        tags: ${{ env.IMAGE_NAME }}:latest

    - name: Build and Push Docker (sudo)
      uses: docker/build-push-action@v5
      with:
        build-args: |
          WITH_SUDO=yes
        context: docker
        cache-from: type=gha
        cache-to: type=gha,mode=max
        push: true
        tags: ${{ env.IMAGE_NAME }}:sudo-latest

    - name: Get tag for this build if it exists
      if: github.event_name == 'release'
      run: |
        echo "RELEASE=${GITHUB_REF/refs\/tags\/}" >> $GITHUB_ENV

    - name: Build and Push Docker (release)
      uses: docker/build-push-action@v5
      if: github.event_name == 'release'
      with:
        context: docker
        cache-from: type=gha
        cache-to: type=gha,mode=max
        push: true
        tags: ${{ env.IMAGE_NAME }}:${{ env.RELEASE }}

    - name: Build and Push Docker (sudo release)
      uses: docker/build-push-action@v5
      if: github.event_name == 'release'
      with:
        build-args: |
          WITH_SUDO=yes
        context: docker
        cache-from: type=gha
        cache-to: type=gha,mode=max
        push: true
        tags: ${{ env.IMAGE_NAME }}:sudo-${{ env.RELEASE }}
